@using MyCompany.Domain.Entities
@model IQueryable<GKEntity>
@{
    TextField textField = ViewBag.TextField;

}


<div>

    @if (Model.Any())
    {
        <div class="wrapper style1">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-10 col-10">
                        <div class="row gtr-100">
                            @foreach (GKEntity entity in Model)
                            {
                                <div class="col-4">
                                    <a asp-area="" asp-controller="GK" asp-action="Index10" asp-route-id="@entity.ID" class="image fit">
                                        <img src="~/images/@entity.TitleImagePath" alt="" />
                                    </a>
                                </div>
                                <div class="col-8">
                                    <a asp-area="" asp-controller="GK" asp-action="Index10" asp-route-id="@entity.ID" class="image fit">
                                        <h4>
                                            @($"{entity.Name}")
                                        </h4>
                                        <p> Адрес: @entity.Region, @entity.District, @entity.Area, @entity.Street, @entity.Num</p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>